<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdd8de;
  margin: 0px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #cad2d2 solid;
  color: #0c0c0c;
}
        </style>

    </head>
<body>
    <div class="container">
        <div class="row">

            <h1><div class="package="></div></h1>
            <div class="box">
                <h2>Anusha Abeesh</h2>
<img src="https://assets.lybrate.com/img/documents/doctor/dp/5e6d9f26e1e0da99fb9d6a5d5cf38a6a/Ayurveda-Anusha-Bangalore-706d04.jpg" width="600" height="333">

            </div>
            <p>hhiii</p>

          </div>

          <div class="Package=$630">
            <div class="box">
             <h2> <p>""</P></h2>
            </div>
          </div>

        </div>
      </div>


      <div class="row">

          <h1><div class="package="></div></h1>
          <div class="box">
              <h2>Basil Ciliz</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwHzA2u3-RBCR92bIODJrZfejUxxz__SEVfg&usqp=CAU" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>""</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></div></h1>
          <div class="box">
              <h2>Dr.Manu</h2>
<img src="https://yt3.googleusercontent.com/ytc/AIdro_lLL3DbrjQLiQdstf1zNMF4eWNh1SGROgidqGR39Zk=s176-c-k-c0x00ffffff-no-rj" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>""</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></div></h1>
          <div class="box">
              <h2>Dr.Rahul</h2>
<img src="https://media.licdn.com/dms/image/C4E03AQHskZVfG4jpVw/profile-displayphoto-shrink_800_800/0/1627736768741?e=2147483647&v=beta&t=BQEYvTYNPVESJ2zjil1Xhtvx-mmHWc4iGL04zPHZGU4" width="600" height="333">

          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>""</P></h2>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

        <h1><div class="package="></div></h1>
          <div class="box">
              <h2>Dr.karthika</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL9INk0MGJ1uwr4euuAjyJkQGPPQddNm1QBZG1b_zc2uwnu68jpJB5BFTnq0A-VPTRW0g&usqp=CAU" width="600" height="333">
          </div>
        </div>

        <div class="Package=$630">
          <div class="box">
           <h2> <p>""</P></h2>
          </div>
        </div>

      </div>
    </div>




</body>
</html>
